
.accordion {

  &--reports {
    .accordion__content {
      padding: 0;
      background-color: $c-gray;
    }
  }

  &--faq {
    .accordion__content {
      @extend %paddings;
    }
  }

  &__item {

    &--active {
      .ico-arrow-accordion {
        transform: rotate(180deg);
      }
      .accordion__content {
        display: block;
      }
    }

    &--new-msg {

    }

    &:first-child {
      border-top: 1px solid $c-border;
    }

    &:not(:last-child):not(.accordion__item--active) {
      .accordion__header {
        border-bottom: 1px solid $c-border;
      }
    }

  }

  &__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid transparent;
    @include av-mq(pocket) {
      flex-direction: column;
      [class*="accordion__"] {
        &:not(.accordion__header-title) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__header-title {
    user-select: none;
    margin: 0 0 0 0;
  }

  &__state {
    text-align: center;
    padding: 4px 0;
    border-radius: $baseRadius;
    max-width: 100px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    flex-shrink: 0;

    &--done {
      background-color: $c-green;
    }

    &--cross {
      background-color: $c-red;
    }

    &--waiting {
      background-color: $c-l-blue;
    }

  }

  &__date {

  }

  &__name {

  }

  &__qty-msg {
    max-width: 88px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .num {
      margin-left: 4px;
    }
  }

  &__btn {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 120px;
    width: 100%;

    @include av-mq(pocket) {
      justify-content: center;
    }

  }

  &__btn-title {
   margin-right: 8px;
  }

  &__content {
    display: none;
    position: relative;
    padding: $baseMargin 0;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0; right: 0;
    }
    &:before {
      top: 0;
      box-shadow: inset 0 5px 10px rgba(31, 68, 123, 0.03);
      height: 10px;
    }
    &:after {
      bottom: 0;
      box-shadow: inset 0 -5px 10px rgba(31, 68, 123, 0.03);
      height: 10px;
    }
  }

  .chat-content {
    // padding: 20px;
  }

}