.min-calendar {
  @extend %stage-box;

  @include av-mq(portable) {
    width: 100%;
    display: flex;
    padding: 10px 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  &__item {
    z-index: 1;
    display: flex;
    align-items: center;
    position: relative;
    height: 48px;
    padding: 0 4px;
    cursor: pointer;

    @include av-mq(portable) {
      width: 100%;
      min-width: 80px; height: 60px;
      &:not(:last-child) {
        border-right: 1px solid $c-border;
      }
    }

    @include av-mq(desk) {
      &:not(:last-child) {
        border-bottom: 1px solid $c-border;
      }
      &:hover {
        .no-touchevents & {
          .calendar-toolip {
            display: block;
          }
        }
      }
    }
    
    &:hover {
      &:not(.min-calendar__item--finish):not(.today) {
        background-color: $c-l-gray;
      }
    }

    &.is-select {
      position: relative;
      z-index: 2;
      border: none;

      &:before {
        z-index: 1;
        content: '';
        width: 100%; height: 100%;
        position: absolute;
        left: -2px; top: -2px;
        border: 2px solid #fff;
        border-radius: 2px;
        box-shadow: 0 4px 18px rgba(31, 68, 123, 0.18);
      }
      &.today {
        &:before {
          border-color: transparent;
          box-shadow: none;
        }
      }
    }

    &.today {
      z-index: 2;
      background-color: $c-primary;

      &:before {
        z-index: 0;
        content: '';
        width: 100%; height: 100%;
        position: absolute;
        left: -2px; top: -2px;
        border: 2px solid #fff;
        border-radius: 2px;
        box-shadow: 0 4px 18px rgba(31, 68, 123, 0.18);
      }

      .min-calendar__day, .min-calendar__date {
        color: #fff;
      }
      .min-calendar__info {
        display: none;
      }
      .min-calendar__special-day{
	      color: #fff;
      }

    }

    &--finish {
      background-color: $c-secondary;
      .min-calendar__day, .min-calendar__date {
        color: #fff;
      }
      .finish-day-title {
        font-size: $fz-small;
        line-height: 1.1;
        color: #fff;
      }
      @include av-mq(desk) {
        border-radius: 0 0 $baseRadius $baseRadius;
      }
    }
  }

  &__date-wrap {
    width: 45%;
  }
   &__info {
    width: 55%;
  }
  &__date-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__day {
    font-size: $fz-middle;
    color: #C8C9CF;
  }
  &__date {
    
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__special-day {
    text-align: center;
    font-size: $fz-small;
    line-height: 1.2;
    margin:auto;
  }

  .ico-waiting {
    opacity: .5;
  }
}

.calendar-toolip {
  display: none;
  z-index: 10;
  position: absolute;
  left: 105%; top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: $middleShadow;
  min-width: 174px;
  border-radius: $baseRadius;
  cursor: default;

  &--missed {
    .calendar-toolip__title {
      color: $c-red;
    }
  }

  &--done {
    .calendar-toolip__title {
      color: $c-green;
    }
  }

  &--waiting {
    .calendar-toolip__title {
      color: $c-m-gray;
    }
  }

  &__inner {
    position: relative;
    padding: 10px;

    &:before {
      content: '';
      z-index: 1;
      display: block;
      position: absolute;
      right: 100%; top: 50%;
      margin-top: -11px;
      width: 0; height: 0;
      border-style: solid;
      border-width: 11px 11px 11px 0;
      border-color: transparent #ffffff transparent transparent;
    }
  }

  &__title {
    font-family: $f-exo2;
    line-height: 1.1;
    margin-bottom: 4px;
  }

  &__date {
    color: $c-m-gray;
    font-size: $fz-middle;
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
}


