.main-nav {
  &__item {
    border-radius: $baseRadius;

    &--active {
      background-color: #F1F5F8 ;

      .svg-icon{
        fill: $c-secondary !important;
      }
    }

    .no-touchevents & {
      &:hover {
        background-color: #F1F5F8;
        .svg-icon {
          fill: $c-secondary;
        }
      }
    }

  }
  &__item-inner {
    color: $c-text;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 10px;

    &--active{
      background-color: #F1F5F8;

      .svg-icon{
        fill: $c-secondary !important;
      }
    }

    &:visited {
      color: $c-text;
    }
    .svg-icon {
      flex-shrink: 0;
      fill: #A1B1C7;
      margin-right: 10px;
    }
  }
  &__title {
  
  }
}

.profile {
  a {
    text-decoration: none;
    color: $c-text;
  }
  &__name {
    font-size: $fz-base;
    font-weight: 700;
  }
  &__nav {
    margin-top: 4px;
    display: flex;
  }
  &__nav-item {
    font-size: $fz-middle;
    &:not(:last-child) {
      margin-right: 8px;
      padding-right: 8px;
      border-right: 1px solid $c-border;
    }
  }
}

.banner-ls {

  &--menu-mob-left {
    max-width: 158px;

    .banner-ls__item {
      &:not(:last-child) {
        margin-bottom: #{$baseMargin/2};
        padding-bottom: #{$baseMargin/2};
        border-bottom: 1px solid $c-border;
      }
    }
  }

  &__item {
    a {
      text-decoration: none;
      color: $c-text;
    }
    &:not(:last-child) {
      margin-bottom: $baseMargin;
      padding-bottom: $baseMargin;
      border-bottom: 1px solid $c-border;
    }
  }
  &__img {
    img {
      max-width: 100%;
    }
  }
  &__desc {
    font-size: $fz-middle;
    line-height: 1.5;
  }
}

// -- mobile

.menu-mob-bottom {
  z-index: 5;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0 -6px 29px rgba(28, 63, 115, 0.1);

  @include av-mq(portable) {
    display: flex;
  }

  &__item {
    flex: 1;

    &--active {
      background-color: $c-l-gray;
    }
  }
  &__item-inner {
    color: $c-text;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    height: 50px;
    &:visited {
      color: $c-text;
    }
    .svg-icon {
      flex-shrink: 0;
      fill: #A1B1C7;
    }
  }
  &__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-bottom: 4px;
  }
  &__title {
    text-align: center;
    font-size: 1.0rem;
    line-height: 1.1;
  }
}

.menu-mob-left {
  display: none;
  position: fixed;
  left: 0; top: 0; bottom: 0; right: 0;
  z-index: 20;
  background-color: rgba(255,255,255,.8);

  .mob-menu-active & {
    display: block;
  }

  hr {
    margin: 15px 0;
  }

  &__inner {
    position: relative;
    overflow: auto;
    padding: 15px;
    height: 100%;
    background-color: #fff;
    max-width: 280px;
    box-shadow: $middleShadow;
  }

  &__logo {
    text-align: center;
    margin-bottom: 15px;
  }

  &__ico-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; height: 20px;
    position: absolute;
    top: 20px; right: 15px;
  }

  .ys_logo_web {
    width: 90px; height: 30px;
  }

}