.task {
  &__item {
    margin-bottom: $baseMargin;
    &:last-child {
      padding-bottom: $baseMargin;
      border-bottom: 1px solid $c-border;
    }
    &--complete {
      .btn-taks {
        background-color: $c-green;
        .no-touchevents & {
          &:hover {
            background-color: lighten($btn-primary, 6%);
          }
        }
      }
      .task__number {
        background-color: $c-green;
      }
      .btn {
        background-color: $c-green;
        .no-touchevents & {
          &:hover {
            background-color: lighten($c-green, 6%);
          }
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    border-top: 1px solid $c-border;
    @include av-mq(desk) {
      justify-content: space-between;
      height: 88px;
      margin-bottom: 20px;
    }
    @include av-mq(portable) {
      justify-content: center;
      flex-direction: column;
      padding: 30px 0;
      .task__title {
        margin-bottom: 20px;
      }
    }
  }
  &__title {
    display: flex;
    align-items: center;
  }
  &__name {
    font-size: $fz-h1;
    line-height: 1.2;
    @include av-mq(desk) {
      padding-right: $baseMargin;
    }
  }
  &__number {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    width: 52px; height: 52px;
    background-color: $c-primary;
    font-size: $fz-big;
    color: #fff;
    span {
      line-height: 1;
    }
  }
}

.task-description {
  .btn {
    margin-top: $baseMargin;
    min-width: 308px;
  }
}

.tasks-results {
  margin-bottom: $baseMargin;
  &__title {
    margin-bottom: 20px;
  }
  &__desc {
    text-align: center;
    max-width: 540px;
    margin: 0 auto $baseMargin;
  }
}