@import "../../_theme";

.chats-groups {
  width: 100%;
}

.chat-group {
  width: 100%;
  margin-bottom: 30px;

  &_chat-root {
    cursor: pointer;
  }

  &_chat-root:hover &__header {
    background-color: lighten($c-m-gray, 25%);
  }

  &_selected &__header, &_selected:hover &__header {
    background: lighten($c-green, 25%);
  }

  &__header {
    position: relative;
    padding: 10px 15px;
    margin-bottom: 1px;
    background-color: lighten($c-l-blue, 30%);

    border: none;
    list-style: none;
    box-shadow: 0 0 0 1px $c-m-gray;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__unread {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }

  &__counter {
    width: 35px;
    height: 35px;
    margin-left: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: $c-m-gray solid 1px;
    border-radius: 50%;
  }
}