.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.sub-title {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: $baseMargin;
  color: $c-l-blue;
  &--line {
    position: relative;
    margin-bottom: 60px;
    &:before {
      content: '';
      display: block;
      width: 40%;
      position: absolute;
      bottom: -30px; left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-color: $c-border;
    }
  }
}

.base-parag {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.img-wrap {
  @include av-mq(pocket) {
    margin-bottom: $baseMargin;
  }
  img {
    max-width: 100%;
  }
}

.mb30 {
  margin-bottom: $baseMargin;
}

.m60 {
  margin-bottom: 60px;
}

.mt40 {
  margin-top: 40px;
}