.ys_logo_web {
  width: 127px; height: 43px;
}

.ico-m-tasks {
  width: 20px; height: 14px;
}

.ico-m-book {
  width: 19px; height: 20px;
}

.ico-m-food {
  width: 17px; height: 20px;
}

.ico-m-faq {
  width: 20px; height: 19px;
}

.ico-gift {
  width: 15px; height: 16px;
}

.ico-finish {
  width: 19px; height: 20px;
}

.ico-tick {
  width: 14px; height: 10px;
}

.ico-vk {
  width: 24px; height: 14px;
}

.ico-odnoklassniki {
  width: 12px; height: 19px;
}

.ico-fb {
  width: 8px; height: 17px;
}

.ico-arrow-up {
  width: 14px; height: 19px;
}

.ico-burger {
  width: 16px; height: 11px;
}

.ico-close {
  fill: $c-s-gray;
  width: 16px; height: 16px;
}

.ico-trash {
  width: 15px; height: 20px;
}

.ico-gallery {
  width: 46px; height: 40px;
}

.ico-your-condition-1,
.ico-your-condition-2,
.ico-your-condition-3 {
  width: 39px; height: 30px;
}

.ico-arrow-accordion {
  width: 15px; height: 8px;
}

.ico-msg {
  width: 20px; height: 18px;
}