/* ===========================
   App main styles
   =========================== */

.svg-icon {
  display: inline-block;
  width: 1em;  height: 1em;
  flex-shrink: 0;
}

#svg-inject-me {
  width: 0; height: 0;
  opacity: 0;
  position: absolute;
  left: 1000px; top: 1000px;
}

.lock-screen {
  overflow: hidden;
  height: 100%;
}

// .test-bg {
//   position: absolute;
//   left: 0; right: 0; bottom: 0; top: 0;
//   background-color: rgba(0,0,0,.8);
//   color: #fff;
//   z-index: 888;
//   overflow: auto;
// }

// Placeholders

%msg-box {
  border-radius: $baseRadius;
  // background-color: $c-gray-5;
  // box-shadow: $boxShadowMsg;
  padding: 8px 15px 8px 15px;
}

%stage-box {
  border-radius: $baseRadius;
  background-color: #fff;
  box-shadow: $baseShadow;
  margin-bottom: $baseMargin;
}

%point-circle {
  cursor: pointer;
  width: 28px; height: 28px;
  // background-color: $c-point-1;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  justify-content: center;
}


// -------

.h1 {
  text-align: center;
  font-size: $fz-h1;
  line-height: 1.3;
  margin-bottom: $baseMargin;
}

.h2 {
  text-align: center;
  font-size: $fz-h2;
  line-height: 1.3;
  margin-bottom: $baseMargin;
}

.h3 {
  text-align: center;
  font-size: $fz-h3;
  line-height: 1.3;
  margin-bottom: $baseMargin;
}

.main-message {
  max-width: 620px;
  margin: 0 auto;
}

// -------

%paddings {
  @include av-mq(portable) {
    padding: $baseMargin 60px $baseMargin 40px;
    box-shadow: none;
  }
  @include av-mq(desk) {
    padding: $baseMargin 60px $baseMargin 60px;
  }
}

.stage-box {
  border-radius: $baseRadius;
  background-color: #fff;
  box-shadow: $baseShadow;
  margin-bottom: $baseMargin;

  &--big-padding {
    @include av-mq(portable) {
      padding: $baseMargin 30px $baseMargin 40px;
      box-shadow: none;
    }
    @include av-mq(desk) {
      padding: $baseMargin 60px $baseMargin 60px;
    }
  }

  &--small-padding {
    padding: $baseMargin;
    @include av-mq(portable) {
      padding: $baseMargin $baseMargin/2 $baseMargin;
    }
  }

  &--no-padding {
    padding: $baseMargin 0 0 0;
  }
}

.num-list {

  &--paddings {
    @include av-mq(portable) {
     margin-left: 35px;
    }
    @include av-mq(desk) {
     margin-left: 45px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 25px;
  }
  &__number {
    position: absolute;
    left: -35px; top: -5px;
    font-size: $fz-big;
    color: $c-m-gray;
    line-height: 1;
    @include av-mq(portable) {
      font-size: $fz-h1;
      top: 0; left: -25px;
    }
  }
  &__title {
    font-size: $fz-h3;
    margin-bottom: 15px;
    line-height: 1.1;
  }
  &__description {

  }
}

.text-list {

  &--paddings {
    @include av-mq(portable) {
     margin-left: 35px;
    }
    @include av-mq(desk) {
     margin-left: 45px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 25px;
  }
  &__number {
    position: absolute;
    left: -35px; top: -5px;
    font-size: $fz-big;
    color: $c-m-gray;
    line-height: 1;
    @include av-mq(portable) {
      font-size: $fz-h1;
      top: 0; left: -25px;
    }
  }
  &__title {
    font-size: $fz-h3;
    margin-bottom: 15px;
    line-height: 1.1;
  }
  &__description {

  }
}

.base-table-scroll {
  overflow: auto;
  margin-bottom: $baseMargin;

  .base-table {
    min-width: 480px;
  }
}

.base-table {
  width: 100%;
  margin-bottom: $baseMargin;

  th {
    text-align: left;
    padding: 2% 2%;
  }

  tr {
    &:nth-child(2n+2) {
      background-color: $c-l-gray;
    }
  }
  td {
    padding: 12px 12px;
  }

  &__cell-center {
    text-align: center;
  }
  &__input {
    text-align: center;
    padding: 4px;
    max-width: 40px;
  }
  &__btn-del {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; height: 30px;
    &:hover {
      background-color: $c-gray;
    }
  }

}

.base-list {
  margin-bottom: 25px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

.upload-list {

  &__item {
    justify-content: space-between;
    display: flex;
    padding: 6px 10px;
    background-color: $c-l-gray;
    border-radius: $baseRadius;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
  &__btn-del {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px; height: 24px;
    margin-left: 8px;
  }
}

.flex-table {
  width: 100%;
  display: flex;

  @include av-mq(pocket) {
    flex-wrap: wrap;
  }

  &__column {
    display: flex;
    flex: 1;

    @include av-mq(pocket) {
      flex: auto;
      width: 50%;
    }

    @include av-mq(portable) {
      flex-direction: column;
    }

    @include av-mq(desk) {
      flex: 1;
      flex-direction: column;
    }
  }

  &__cell {
    padding: 4px;

    &--title {
      font-weight: 700;
    }

    @include av-mq(pocket) {
      width: 100%;
    }

  }

}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 3em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.loader,
.loader:before,
.loader:after {
    animation: 1s infinite ease-in-out;
}
.loader:before,
.loader:after {
  width: 100%; 
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader--main:before,
.loader--main:after {
  content: '';
  background-color: $c-primary;
  transform: scale(0);
  animation: mainLoader 1.5s infinite ease-in-out;
}
.loader--main:after { animation-delay: 0.75s; }

  @keyframes mainLoader {
    0%   { transform: translateX(-100%) scale(0); }
    50%  { transform: translateX(0%)    scale(1); }
    100% { transform: translateX(100%)  scale(0); }
  }


// -------

.attention-box {
  background-color: $c-l-gray;
  padding: 20px;
  border-radius: $baseRadius;
  margin-bottom: 25px;
  color: $c-s-yellow;
  background-color: $c-l-yellow;
}


.question-form {
  background-color: $c-secondary;
  color: #fff;
  box-shadow: $baseShadow;
  margin-bottom: $baseMargin;
  padding: 40px;
  background-image: url(#{$bgImgPath + '/bg-logo.svg'});
  background-position: left bottom;
  background-repeat: no-repeat;

  @include av-mq(desk) {
    border-radius: $baseRadius;
  }

  &__title {
    position: relative;
    margin-bottom: 60px;
    &:before {
      content: '';
      display: block;
      width: 74px; height: 1px;
      background-color: rgba(255,255,255, .3);
      position: absolute;
      bottom: -30px; left: 50%;
      transform: translateX(-50%);
    }
  }
  &__own-version {
    margin: 0 auto;
    max-width: 360px;
    .input__field {
      border: 1px solid rgba(255,255,255,0.3);
      color: #fff;
    }
  }
}


.fill-report {

  &__video-report {
    margin: 0 auto;
    max-width: 440px;
  }

  &--input-info {
    margin: 0 auto $baseMargin;
    max-width: 310px;
  }
}

.your-condition {
  max-width: 326px;
  margin: $baseMargin auto;
  display: flex;
  justify-content: space-between;
  user-select: none;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px; height: 90px;
    border-radius: $baseRadius;
    border: 1px solid transparent;
    cursor: pointer;
    
    &--active {
      border: 1px solid $c-green;
    }

    .no-touchevents & {
      &:not(.your-condition__item--active) {
        &:hover {
          border: 1px solid $c-border;
        }
      }
    }
  }
  &__ico {
    margin-bottom: 5px;
  }
  &__title {
    text-align: center;
    font-size: $fz-middle;
    color: $c-s-gray;
  }
}

.avatar {
  position: relative;
  width: 100px; height: 100px;

  &:before {
    display: none;
    content: 'Загрузить Аватар';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba($c-primary, 0.68);
    border-radius: 50%;
    color: #fff;
    font-size: $fz-middle;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    &:before {
      display: flex;
    }
  }

  &--profile {
    display: inline-block;
  }

  &__img-wrap {
    overflow: hidden;
    border-radius: 50%;
  }
  &__img {
    border-radius: 50%;
    max-width: 100%;
  }
  &--upload {
    left: 0; top: 0;
    width: 100%; height: 100%;
    position: absolute;
  }
}

.gender {
  display: flex;
  justify-content: center;

  &__title {
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .radio__ph {
    margin-right: 5px;
  }

  .radio {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

}

.checkboxes {

  &__item {
    // margin-right: 8px;
    margin-bottom: 6px;
  }
}

.timer {
  position: relative;
  margin: $baseMargin auto;
  font-family: $f-exo2;
  font-size: $fz-big;
  display: flex;
  max-width: 140px;
  border: 1px solid $c-border;
  border-radius: $baseRadius;

  &__min, &__sec {
    width: 50%;
    text-align: center;
    color: $c-text;
    border: none;
    background-color: transparent;
    height: 60px;

    &:focus {
      outline: none;
    }

  }

  &:before {
    content: ':';
    display: block;
    position: absolute;
    left: 50%; top: 44%;
    transform: translate(-50%, -50%);
    line-height: 0;
  }
}

.upload-gallery {
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
    margin-bottom: 20px;

    &--uploaded {
      .upload-gallery__title, .upload-gallery__ico {
        display: none;
      }
    }

    @include av-mq(pocket) {
      width: 100% !important;
      margin-right: 0 !important;
    }

    @include av-mq(portable) {
      width: 48%;

      &:not(:last-child) {
        margin-right: 3%;
      }

      &:nth-of-type(2n+2) {
        margin-right: 0;
      }
      
    }

    @include av-mq(desk) {
      width: 23%;

      &:not(:last-child) {
        margin-right: 2.5%;
      }
    }

  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $c-l-gray;
    overflow: hidden;
    border-radius: $baseRadius;
    max-height: 200px;
    height: 100%;
    @include av-mq(portable) {
      max-height: 300px;
    }
    @include av-mq(desk) {
      max-height: 200px;
    }
  }

  &__ico {
    margin-bottom: 10px;
  }

  &__title {
    // cursor: default;
    // position: absolute;
    // left: 50%; top: 50%;
    // transform: translate(-50%, -50%);
    font-weight: 700;
    color: $c-m-gray;
  }

  &__img-wrap {

  }

  &__img {
    max-width: 100%;
  }

}





