%svg-common {
	background: url("sprite.svg") no-repeat;
}

.css-g_plus {
	@extend %svg-common;
	background-position: 0 0;
	width: 520px;
	height: 520px;
}

.css-ico-tw {
	@extend %svg-common;
	background-position: 100% 0;
	width: 520px;
	height: 520px;
}

.css-insta {
	@extend %svg-common;
	background-position: 0 100%;
	width: 428px;
	height: 428px;
}

.css-vk {
	@extend %svg-common;
	background-position: 42.71457085828343% 57.142857142857146%;
	width: 38px;
	height: 38px;
}

